*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(134, 32, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1,6;

}
.cabecalho{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color:rgba(189, 152, 219, 0.571);
    color: beige;
    padding: 10px 0;
}